body{
    color:white;
    background-image: url('./Images/pexels-mudassir-ali-2680270.jpg');
    /* background-repeat: no-repeat;  
    background-size: cover;       
    background-position: center;   */
}

.carouselTravel {
    position: relative;
    left: 10%;
    width:1080px;
}

.d-block {
  /* box-sizing: border-box; */
  height: 400px;
  
}
nav {
  display: flex;
  justify-content: space-around;
  align-content: center;
  padding: 20px;
}
b {
    font-family: 'Bebas Neue', sans-serif;
    font-style:oblique;
    font-size: xx-large;
}
nav a {
  color: inherit;
  text-decoration: none;
  margin-left: 20px;
  
}
nav > div {
    display: flex;
    align-items: center;
}
.navCards a {
    text-decoration: none;
    color: inherit;
    font-family: 'Bebas Neue', sans-serif;
    font-size:x-large;
}