body {
  color: rgb(200, 209, 76);
  background-image: url("./Images/pexels-mudassir-ali-2680270.jpg");
  /* background-repeat: no-repeat;  
    background-size: cover;       
    background-position: center;   */
}

.carouselTravel {
  position: relative;
  left: 10%;
  width: 1080px;
}

.d-block {
  /* box-sizing: border-box; */
  height: 400px;
}
nav {
  width: 1080px;
  display: flex;
  justify-content: space-around;
  align-content: center;
  margin: 20px 0px;
}
b {
  font-family: "Bebas Neue", sans-serif;
  font-style: oblique;
  font-size: xx-large;
  letter-spacing: 0.05em;
}
nav a {
  color: inherit;
  text-decoration: none;
  margin-left: 20px;
}
nav > div {
  display: flex;
  align-items: center;
  /* margin-left: 200px; */
}

.navCards {
  box-sizing: border-box;
  display: flex;
  flex: 1;
  height: 300px;
  width: 1080px;
  justify-content: space-around;
  align-items: space-between;
  margin: 40px 10vw;
}

.navCards img {
  height: 200px;
  width: 100%;
  padding: 5px;
}
.navCards a {
  text-decoration: none;
  color: inherit;
  font-family: "Bebas Neue", sans-serif;
  font-size: x-large;
  transition-property: font-size, color;
}
.navCards a:hover {
    font-size: xx-large;
    color: tomato;
}
.card3 {
    width: 267px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  transition: border 2s;
}
.card3:hover {
border: 5px solid tomato;
}
footer {
  margin-left: 50%;
}

/* CSS for Contact Me page */
.contactMe {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0px;
}
.contactMe div {
    border: solid rgb(200, 209, 76);
    padding: 40px;
    display: flex;
    justify-content: space-around;
    gap: 100px
}

.contactMe img {
height: 600px;
}
.contactMe legend {
  font-family: "Bebas Neue", sans-serif;
  font-style: oblique;
  font-size: xx-large;
  letter-spacing: 0.05em;
}
.contactMe label {
  font-family: "Bebas Neue", sans-serif;
  font-size: large;
  letter-spacing: 0.06em;
}
